<p>
	<b><i>halo3-stats-app</i></b> is a thorough supplement to the <a href="http://www.bungie.net">Bungie.net</a> statistics-viewer interface.
	<br />	
</p>

<p>
	The software consists of two components:
	<ul class="pList">
		<li><b>Data Loader</b> - HTML scraper that extracts data from Bungie.net and loads it into a local database for quick querying.</li>
		<li><b>Web Interface</b> - Ruby-on-Rails web application for browsing and viewing the data in interesting ways.</li>
	</ul>
</p>