<div class="clearfix">
	<div class="floatLeft" style="border-right: solid 1px #ccc; padding-right: 15px;">
		<%= render(:partial => 'stats/game_filters') %>
	</div>
	
	<div class="floatLeft">
		<div id="summary">
			<%= render(:partial => 'stats/summary_data') %>
		</div>
	</div>
</div>
